<div class="media-object">
  <div class="media-object-section">
    <div class="thumbnail">
      <img src={{user.avatar}}>
    </div>
  </div>
  <div *ngIf="!editing" class="media-object-section main-section">
    <div>
      <h4>{{user.first_name}} {{user.last_name}}</h4>
      <!-- <button (click)="userEdited()" class="button small">Edit</button> -->
      <button (click)="toggleEdit()" class="button small">Edit</button>
    </div>
    <h6>{{user.email}}</h6>
  </div>
  <div *ngIf="editing" class="media-object-section main-section">
    <!-- <div>
      <h4>{{first_name}} {{last_name}}</h4>
      <button (click)="userEdited()" class="button small">Edit</button>
    </div>
    <h6>{{email}}</h6> -->
    <div class="grid-x">
      <div class="medium-4 cell">
        <label>First Name
          <input type="text" value="{{user.first_name}}" [formControl]="firstName" placeholder="First Name">
        </label>
      </div>
      <div class="medium-4 cell">
        <label>Last Name
          <input type="text" value="{{user.last_name}}" [formControl]="lastName" placeholder="Last Name">
        </label>

      </div>
      <div class="medium-2 cell">
        <button (click)="userEdited()" class="button small">Save</button>
        <button (click)="toggleEdit()" class="button small">Cancel</button>
      </div>
      <div class="medium-4 cell">
        <label>Email
          <input type="text" value="{{user.email}}" [formControl]="emailControl" placeholder="Email">
        </label>
      </div>
    </div>
  </div>
</div>
