 @import './assets/scss/settings';

 @import '~foundation-sites/scss/foundation';
 @include foundation-everything;

 @import "~ngx-foundation/assets/scss/main";


 @import './assets/scss/global';

 html,
 body {
   margin: 0;
   padding: 0;
   height: 100%;
 }
